<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
   <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".jsx" mimeType="text/javascript" />
      <mimeMap fileExtension=".ts" mimeType="application/javascript" />
      <mimeMap fileExtension=".tsx" mimeType="text/javascript" />
    </staticContent>
  </system.webServer>
</configuration>